body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto';
  color: white;
  background: #1c1c1c; /* fallback for old browsers */
  background: linear-gradient(to right top,#1c1c1c,#111111,#4c4c4c);
}

html {
  height: 100%;
}

nav .logo img {
    width: 160px;
}

nav {
  padding: 2.7vw;
  display: block;
}
@media screen and (max-width: 768px) {
  nav {
    padding: 2.7vw 2.7vw 1vw 2.7vw;
  }
}
nav .logo {
  height: auto;
  position: absolute;
}
nav .logo span img {
  width: 160px;
}
@media screen and (max-width: 768px) {
  nav .logo {
    text-align: center;
  }
}
@media screen and (max-width: 768px) {
  nav {
    display: block;
    margin: 0 auto;
  }
}
nav .links-container {
  text-align: right;
  padding-top: 14px;
}
nav .links-container a {
  font-weight: 400;
  color: #c2f2ff;
  margin-left: 20px;
  font-size: 16px;
  text-shadow: 0 1px 2px rgba(0,0,0,0.4);
  -webkit-transition: color 200ms ease-in-out;
  -moz-transition: color 200ms ease-in-out;
  -o-transition: color 200ms ease-in-out;
  -ms-transition: color 200ms ease-in-out;
  transition: color 200ms ease-in-out;
}
nav .links-container a:first-child {
  margin-left: none;
}
nav .links-container a:hover {
  color: #fff;
  text-decoration: none;
}
nav .links-container a.email-link {
  border-bottom: 1px solid #62abf4;
}
@media screen and (max-width: 768px) {
  nav .logo {
    display: block;
    margin: 0 auto;
    position: relative;
    margin-top: 18px;
  }
  nav .links-container {
    text-align: center;
    line-height: 32px;
    font-size: 18px;
    margin-top: 16px;
  }
}

.social-icon {
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 22px;
  border: 2px solid rgba(255,255,255,0.2);
  display: inline-block;
  height: 38px;
  pointer: cursor;
  -webkit-transition: all 0.25s ease;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
  transition: all 0.25s ease;
  width: 38px;
  margin-bottom: -15px;
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -o-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(0.8);
  margin-left: -10px;
}
.social-icon:hover {
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
}
.twitter {
  background-image: url("/images/twitter.svg");
}
.facebook {
  background-image: url("/images/facebook.svg");
}
.github-social {
  background-image: url("/images/github-social.svg");
}
.email {
  background-image: url("/images/email-icon.svg");
}